<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.FileMapper">

    <resultMap id="FileResultMap" type="File">
        <id column="fid" property="fid"/>
        <result column="uid" property="uid"/>
        <result column="file_name" property="fileName"/>
        <result column="original_name" property="originalName"/>
        <result column="file_size" property="fileSize"/>
        <result column="file_type" property="fileType"/>
        <result column="category" property="category"/>
        <result column="description" property="description"/>
        <result column="download_count" property="downloadCount"/>
        <result column="status" property="status"/>
        <result column="file_path" property="filePath"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectByFid" parameterType="Integer" resultMap="FileResultMap">
        SELECT * FROM file WHERE fid = #{fid}
    </select>

    <insert id="insert" parameterType="File" useGeneratedKeys="true" keyProperty="fid">
        INSERT INTO file (uid, file_name, original_name, file_size, file_type, category, description, download_count, status, file_path, create_time)
        VALUES (#{uid}, #{fileName}, #{originalName}, #{fileSize}, #{fileType}, #{category}, #{description}, #{downloadCount}, #{status}, #{filePath}, #{createTime})
    </insert>

    <update id="update" parameterType="File">
        UPDATE file
        <set>
            <if test="uid != null">uid = #{uid},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="originalName != null">original_name = #{originalName},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="fileType != null">file_type = #{fileType},</if>
            <if test="category != null">category = #{category},</if>
            <if test="description != null">description = #{description},</if>
            <if test="downloadCount != null">download_count = #{downloadCount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            update_time = #{updateTime}
        </set>
        WHERE fid = #{fid}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM file WHERE fid = #{fid}
    </delete>

    <update id="updateStatus">
        UPDATE file SET status = #{status} WHERE fid = #{fid}
    </update>

    <update id="incrementDownloadCount" parameterType="Integer">
        UPDATE file SET download_count = download_count + 1 WHERE fid = #{fid}
    </update>

    <select id="selectByUid" parameterType="Integer" resultMap="FileResultMap">
        SELECT * FROM file WHERE uid = #{uid} ORDER BY create_time DESC
    </select>

    <select id="selectByUidAndCategory" resultMap="FileResultMap">
        SELECT * FROM file WHERE uid = #{uid} AND category = #{category} ORDER BY create_time DESC
    </select>

    <select id="selectByStatus" parameterType="Integer" resultMap="FileResultMap">
        SELECT * FROM file WHERE status = #{status} ORDER BY create_time DESC
    </select>

    <select id="selectAll" resultMap="FileResultMap">
        SELECT * FROM file ORDER BY create_time DESC
    </select>

    <select id="selectTotalSizeByUid" parameterType="Integer" resultType="Long">
        SELECT SUM(file_size) FROM file WHERE uid = #{uid}
    </select>

</mapper>
