<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.SpaceMapper">

    <resultMap id="SpaceResultMap" type="Space">
        <id column="sid" property="sid"/>
        <result column="uid" property="uid"/>
        <result column="ssize_total" property="ssizeTotal"/>
        <result column="ssize_used" property="ssizeUsed"/>
        <result column="download_count" property="downloadCount"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectByUid" parameterType="Integer" resultMap="SpaceResultMap">
        SELECT * FROM space WHERE uid = #{uid}
    </select>

    <select id="selectBySid" parameterType="Integer" resultMap="SpaceResultMap">
        SELECT * FROM space WHERE sid = #{sid}
    </select>

    <insert id="insert" parameterType="Space" useGeneratedKeys="true" keyProperty="sid">
        INSERT INTO space (uid, ssize_total, ssize_used, download_count, status, create_time)
        VALUES (#{uid}, #{ssizeTotal}, #{ssizeUsed}, #{downloadCount}, #{status}, #{createTime})
    </insert>

    <update id="update" parameterType="Space">
        UPDATE space
        <set>
            <if test="uid != null">uid = #{uid},</if>
            <if test="ssizeTotal != null">ssize_total = #{ssizeTotal},</if>
            <if test="ssizeUsed != null">ssize_used = #{ssizeUsed},</if>
            <if test="downloadCount != null">download_count = #{downloadCount},</if>
            <if test="status != null">status = #{status},</if>
            update_time = #{updateTime}
        </set>
        WHERE sid = #{sid}
    </update>

    <update id="updateSsizeUsed">
        UPDATE space SET ssize_used = ssize_used + #{addSize} WHERE uid = #{uid}
    </update>

    <update id="updateDownloadCount">
        UPDATE space SET download_count = download_count + 1 WHERE uid = #{uid}
    </update>

    <update id="updateStatus">
        UPDATE space SET status = #{status} WHERE uid = #{uid}
    </update>

    <select id="selectAll" resultMap="SpaceResultMap">
        SELECT * FROM space ORDER BY create_time DESC
    </select>

    <select id="selectByStatus" parameterType="Integer" resultMap="SpaceResultMap">
        SELECT * FROM space WHERE status = #{status} ORDER BY create_time DESC
    </select>

</mapper>
