<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.UserMapper">

    <resultMap id="UserResultMap" type="User">
        <id column="uid" property="uid"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="role" property="role"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectByUid" parameterType="Integer" resultMap="UserResultMap">
        SELECT * FROM user WHERE uid = #{uid}
    </select>

    <select id="selectByUsername" parameterType="String" resultMap="UserResultMap">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <select id="selectByEmail" parameterType="String" resultMap="UserResultMap">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO user (username, password, email, role, status, create_time)
        VALUES (#{username}, #{password}, #{email}, #{role}, #{status}, #{createTime})
    </insert>

    <update id="update" parameterType="User">
        UPDATE user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="role != null">role = #{role},</if>
            <if test="status != null">status = #{status},</if>
            update_time = #{updateTime}
        </set>
        WHERE uid = #{uid}
    </update>

    <update id="updateStatus">
        UPDATE user SET status = #{status} WHERE uid = #{uid}
    </update>

    <select id="selectAll" resultMap="UserResultMap">
        SELECT * FROM user ORDER BY create_time DESC
    </select>

    <select id="selectByRole" parameterType="Integer" resultMap="UserResultMap">
        SELECT * FROM user WHERE role = #{role} ORDER BY create_time DESC
    </select>

</mapper>
